body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.navbar {
    background-color: #f0f0f0; /* Hintergrundfarbe der Navbar */
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-button {
    background-color: #8a2be2; /* Lila */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 10px;
}

.nav-button:hover {
    background-color: #7b1fa2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #217346; /* Grün für Excel-Button */
}

/* Stile für die Tabelle */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #8a2be2;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Stile für 'Datei auswählen' und 'Datei hochladen' Button */
.upload-form {
    text-align: center;
    margin-top: 20px;
}

.file-upload-container {
    margin-bottom: 10px;
}

.file-input {
    display: none;
}

.file-upload-label {
    background-color: #8a2be2;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.file-upload-label:hover {
    background-color: #7b1fa2;
}

#file-chosen {
    margin-left: 10px;
}

.btn-upload {
    background-color: #217346;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn-upload:hover {
    background-color: #1E664A;
}

