body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #8a2be2; /* Lila */
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background-color: #8a2be2; /* Lila */
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #7b1fa2; /* Ein dunklerer Lila Ton für den Hover-Effekt */
}
