body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, h3 {
    color: #8a2be2;
}

.button {
    background-color: #8a2be2; /* Lila */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
}

.button:hover {
    background-color: #7b1fa2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

select, input[type="date"], input[type="submit"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"] {
    background-color: #8a2be2; /* Grün */
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #7b1fa2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #8a2be2;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
