<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Konto erstellen</title>
    <link rel="stylesheet" href="../static/create_kontoeintrag.css">

</head>
<body>
    <form method='POST' action="/konto_erstellen">
        <a href="/logout" class="button">Logout</a>
        <a href="/profil_page" class="button">Profilseite</a>
        <label for="create_konto">Konto erstellen</label>
        <input type="text" id="create_konto" name="create_konto" placeholder="Konto erstellen" required>
        <button type="submit">Erstellen</button>
    </form>
</body>
</html>