<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kategorien anlegen</title>
    <link rel="stylesheet" href="../static/kategorien_anlegen.css">
</head>
<body>
    <form action="/kategorien_anlegen/{{email}}" method='POST'>
        <a href="/kategorien_uebersicht/{{ email }}" class="button">Kategorie Übersicht</a>
        <label for="k_name">Kategoriename:</label>
        <input type="text" id="k_name" name="k_name" placeholder="z.B. Sparbuch, Essen" required>

        <label for="schlagwoerter">Schlagwörter (Kommagetrennt):</label>
        <input type="text" id="schlagwoerter" name="schlagwoerter" placeholder="z.B. Supermarkt, Lebensmittel" required>

        <button type="submit" class="button">Erstellen</button>
    </form>
</body>
</html>

