<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kategorien anlegen</title>
</head>
<body>
    <form action="/kategorien_anlegen/{{email}}" method='POST'>
    <label for="k_name">Kategoriename:</label>
        <input type="text" id="k_name" name="k_name" required>

        <label for="schlagwoerter">Schlagwörter (kommagetrennt):</label>
        <input type="text" id="schlagwoerter" name="schlagwoerter" placeholder="z.B. Supermarkt, Lebensmittel">

        <button type="submit">Erstellen</button>
    </form>
</body>
</html>