<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Benutzerübersicht</title>
</head>
<body>
    <form action="/konto_uebersicht" method='POST' >
    <a href="/logout" class="button">Logout</a>
    <a href="/profil_page" class="button">Profilseite</a>
    <a href="/konto_anzeigen" class="button">Konto Übersicht</a>
    <a href="/kontoauszug_anlegen/{{ kontoid[0]}}/{{ name }}" class="button">Eintrag erstellen</a>
    <a href="/suchfunktionen_formular/{{ kontoid [0] }}" class="button">Nach Kriterien suchen</a>
    <a href="/visualisierung_konto_eintraege/{{ email }}/{{ kontoid[0] }}" class="button">Visualisierung Einträge</a>
    <a href="/ausfuehrung_export/{{ kontoid[0] }}" class="btn btn-primary">Excel herunterladen</a>
    <a href="/suche_nach_zeitraum/{{ kontoid[0] }}" class="button">Nach Zeitraum sortieren</a>
        <table>
          <tr>
            <th>zeitstempel</th>
            <th>betrag</th>
            <th>name_empfaenger</th>
            <th>verwendungszweck</th>
            <th>Kategorie</th>
          </tr>
            {% for konto in eintrag %}
          <tr>
            <td>{{ konto[0] }}</td>
            <td>{{ konto[1] }}</td>
            <td>{{ konto[2] }}</td>
            <td>{{ konto[3] }}</td>
            <td>{{ konto[4] if konto[4] != None else 'Keine Kategorie zugewiesen'  }}</td>
          </tr>
            {%  endfor %}
    </table>
    <a href="/konto_uebersicht/{{ name }}?anzahl_eintraege={{ anzahl_eintraege + 15 }}" class="button">15 Weitere Einträge anzeigen</a>
    <a href="/konto_uebersicht/{{ name }}?anzahl_eintraege=-1" class="button">Alle Einträge zeigen</a>
    </form>
   <form action="/upload_excel/{{ name }}/{{ kontoid[0] }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="excel_file" accept=".xlsx">
        <input type="submit" value="Datei hochladen">
    </form>
</body>
</html>