<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Benutzerübersicht</title>
</head>
<body>
    <form action="/konto_uebersicht" method='POST' >
    <a href="/logout" class="button">Logout</a>
    <a href="/profil_page" class="button">Profilseite</a>
    <a href="/konto_anzeigen/{{ email[0] }}" class="button">Konto Übersicht</a>
        <table>
          <tr>
            <th>zeitstempel</th>
            <th>betrag</th>
            <th>name_empfaenger</th>
            <th>verwendungszweck</th>
            <th>Kategorie</th>
          </tr>
            {% for konto in eintrag %}
          <tr>
            <td>{{ konto[0] }}</td>
            <td>{{ konto[1] }}</td>
            <td>{{ konto[2] }}</td>
            <td>{{ konto[3] }}</td>
            <td>{{ konto[4] if konto[4] != None else 'Keine Kategorie zugewiesen'  }}</td>
          </tr>
            {%  endfor %}
    </table>
    {% if anzahl %}
    <a href="/benutzer_uebersicht/{{ email}}/{{ anzahl }}" class="button">weniger anzeigen</a>
    {% else %}
    <a href="/benutzer_uebersicht/{{ email}}/{{ anzahl }}" class="button">mehr anzeigen</a>
    {% endif %}
    </form>
</body>
</html>