<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontos anzeigen</title>
</head>
<body>
    <form action="/konto_anzeigen" method='POST'>
        <a href="/logout" class="button">Logout</a>
        <a href="/profil_page" class="button">Profilseite</a>
        <ul>
            {% for name in konto_anzeige %}
                <li><a href="/konto_uebersicht/{{ name[0] }}">{{ name[0] }}</a></li>
            {%  endfor %}
        </ul>
    <a href="/konto_erstellen" class="button">Konto erstellen</a>
    </form>
</body>
</html>