<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil_page</title>
    <link rel="stylesheet" href="../static/profil_page.css">

</head>
<body>
    <form  method='Post' action="/profil_page">
        <a href="/logout" class="button">Logout</a>
    {% if konto_pruefen ==False %}
        <a href="/konto_erstellen" class="button">Konto erstellen</a>
    {% endif %}
    {% if konto_pruefen == True %}
        <a href="/konto_anzeigen" class="button">Kontos anzeigen</a>
    {% endif %}
        <a href="/kategorien_anlegen/{{ email}}" class="button">Kategorien_anlegen</a>
        <a href="/kategorien_uebersicht/{{ email }}" class="button">Kategorien Übersicht</a>
        <ul>
            {% for name in konto_anzeige %}
                <li><a href="/konto_waehlen/{{ name[0] }}">{{ name[0] }}</a></li>
            {%  endfor %}
        </ul>
            <table>
          <tr>
            <th>Zeitstempel</th>
            <th>Betrag</th>
            <th>Empfänger</th>
            <th>Verwendungszweck</th>
            <th>Kategorie</th>
          </tr>
            {% for konto in eintrag %}
          <tr>
            <td>{{ konto[0] }}</td>
            <td>{{ konto[1] }}€</td>
            <td>{{ konto[2] }}</td>
            <td>{{ konto[3] }}</td>
            <td>{{ konto[4] if konto[4] != None else 'Keine Kategorie zugewiesen' }}</td>
          </tr>
            {%  endfor %}
    </table>
    </form>
</body>
</html>